#img {
    display: block;
    margin: auto;
}

#search-bar {
    text-align: center;
}

.nav {
    list-style-type: none;
}

.nav li {
    float: left;
}

.nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}