#img {
    display: block;
    margin: auto;
    padding: auto;
}

.search-bar {
    text-align: center;
}

ul {
    list-style-type: none;
}

.nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li:hover {
    text-decoration: underline;
}